* {
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  margin: 1.5rem 0.9rem;
}

.div-product {
  background-color: hsl(0, 0%, 100%);
  border-radius: 3%;
}

.picture {
  max-width: 100%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.div-description {
  padding: 1rem 1rem;
  font-family: "Montserrat", sans-serif;
}

.perfume {
  margin: 0;
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
  font-weight: 500;
}

.title {
  margin: 0.6rem 0;
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 1;
}

.text {
  margin: 0;
  color: hsl(228, 12%, 48%);
  font-size: small;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.6rem;
}

.price {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 0.6rem; */
}

.price1 {
  margin: 0;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: larger;
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
}

.price2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 0.66rem;
  text-decoration: line-through;
}

.cart {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  text-align: center;
  padding: 0.8rem 3.5rem;
  background-color: hsl(158, 36%, 37%);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 0;
}

.cartimage {
  padding-right: 0.6rem;
}

.cart:hover {
  background-color: hsl(212, 21%, 14%);
}

.cart:focus {
  background-color: hsl(212, 21%, 14%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(212, 21%, 14%);
}

@media (min-width: 376px) {
  .div-product {
    display: flex;
    width: 38rem;
    margin: 10rem auto;
  }

  .div-image {
    width: 19rem;
  }

  .picture {
    display: block;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 3%;
  }

  .div-description {
    width: 19rem;
    padding: 1rem 2rem;
  }

  .perfume {
    margin: 1rem 0;
    font-size: 1rem;
  }

  .title {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }

  .text {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .price {
    width: 85%;
    margin-bottom: 1.5rem;
  }

  .price1 {
    font-size: 2.3rem;
  }

  .price2 {
    font-size: 0.77rem;
  }
}
